doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    style.
      * {
        margin: 0;
        padding: 0;
      }
      .field {
        margin-bottom: 10px;
      }
      .is-hidden {
        display: none;
      }
  body
    div
      form.js-form(action="dummy")
        .field.js-field(data-type="text")
          .error.is-hidden.js-error 未入力です
          .js-input-area
            input(type="text" value="").js-input

        .field.js-field(data-type="radio")
          .error.is-hidden.js-error 未入力です
          .js-input-area
            label
              input(type="radio" name="radio1" value="radio1-1" checked).js-input
              | Good
            label
              input(type="radio" name="radio1" value="radio1-2").js-input
              | Bad

        .field.js-field(data-type="textarea")
          .error.is-hidden.js-error 未入力です
          .js-input-area
            textarea.js-input test
        button(type="submit").js-submit submit

    script(src="assets/js/index.js")
