doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    style.
      .is-hidden {
        display: none;
      }
  body
    div
      button(type="button").js-button TEST

      form.js-form
        .js-field
          .error.is-hidden.js-error 未入力です
          .js-input-area
            input(type="text" value="dummy").js-input
        .js-field
          .error.is-hidden.js-error 未入力です
          .js-input-area
            textarea.js-input dummy
        button(type="submit").js-submit submit

    script(src="assets/js/index.js")
